/* Selectore de la etiqueta body */
body {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

.centered_layout {
  width: 1200px;
  margin: auto;
}

header {
  text-align: center;
  padding: 30px;
  background: #1C2530;
}

header nav a {
  display: inline-block;
  margin-right: 30px;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
}

header nav a:hover {
  color: #E1C340;
}

header nav a:before {
  display: inline-block;
  margin-right: 15px;
  content: "_";
  color: #E1C340;
}

