/* Selectore de la etiqueta body */
body {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

/* Helper classes */
.left {
  float: left;
}

.right {
  float: right;
}

.button-primary,
.button-secondary,
.button-default {
  display: inline-block;
  padding: 20px 40px;
  border: 2px solid #fff;
  
  /* padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px; */

  background: #1C2530;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
}

/* End helper classes */

.centered_layout {
  width: 1200px;
  margin: auto;
}

header {
  text-align: center;
  background: #1C2530;
}

header nav a {
  display: inline-block;
  height: 80px;
  line-height: 80px;
  margin-right: 30px;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
}

header nav a:hover {
  color: #E1C340;
}

header nav a:before {
  display: inline-block;
  margin-right: 15px;
  content: "_";
  color: #E1C340;
}

.content {
  overflow: hidden;
  padding-top: 20px;
}

.column-left,
.column-center,
.column-right {
  width: 33.333%;
  box-sizing: border-box;
}

.column-left {
  padding: 20px;
  text-align: right;
}

.column-center {
}

.column-right {
  /* test */
  background: yellow;
  height: 400px;
  /* test */
}

#profile-info h1 {
  font-size: 32px;
  margin: 0;
}

#profile-info h2 {
  color: #E1C340;
  font-size: 16px;
  text-transform: uppercase;
}

#profile-info hr {
  width: 40px;
  height: 5px;
  margin-bottom: 30px;
  border: 0;
  background: #E1C340;
}

#profile-info p {
  clear: both;
  line-height: 2em;
  margin-bottom: 40px;
}

#profile-picture img {
  width: 100%;
}
