<!-- Template: Footer -->
<footer class="centered_layout layout-columns">
  <aside class="col layout-columns">
    <div class="icon col">
      <i class="fas fa-mobile-alt"></i>
    </div>
    <div class="info col-2">
      <h3>
        Telefonos
      </h3>
      <ul>
        <li>091 066 416</li>
        <li>4375 11 34</li>
      </ul>
    </div>
  </aside>
  <aside class="col layout-columns">
    <div class="icon col">
      <i class="fas fa-map-marker-alt"></i>
    </div>
    <div class="info col-2">
      <h3>
        Dirección
      </h3>
      <ul>
        <li>Calle 39 y J</li>
        <li>Parque del Plata, Canelones</li>
        <li>Uruguay - 16100</li>
      </ul>
    </div>
  </aside>
  <aside class="col layout-columns">
    <div class="icon col">
      <i class="fab fa-telegram-plane"></i>
    </div>
    <div class="info col-2">
      <h3>
        Dirección de Email
      </h3>
      <ul>
        <li>miguelmail2006@gmail.com</li>
      </ul>
    </div>
  </aside>
</footer>