<!-- Template: Header -->
<header>
  <nav class="centered_layout desktop">
    <a href="index.html">Inicio</a>
    <a href="#">Acerca de mi</a>
    <a href="#">Servcios</a>
    <a href="portfolio.html">Portfolio</a>
    <a href="#">Experiencia</a>
    <a href="#">Contacto</a>
  </nav>
  <nav class="mobile">
    <a id="menu-button" href="#"><i class="fas fa-bars"></i></a>
  </nav>
  <nav id="mobile-menu" class="mobile menu-hidden"> 
    <a href="index.html">Inicio</a>
    <a href="#">Acerca de mi</a>
    <a href="#">Servcios</a>
    <a href="portfolio.html">Portfolio</a>
    <a href="#">Experiencia</a>
    <a href="#">Contacto</a>
  </nav>
</header>