<if activeRoute="home">
  <a href="/home" class="active">Inicio</a>
</if>
<else>
  <a href="/home">Inicio</a>
</else>

<if activeRoute="about">
  <a href="/about" class="active">Acerca de mi</a>
</if>
<else>
  <a href="/about">Acerca de mi</a>
</else>

<if activeRoute="services">
  <a href="/services" class="active">Servicios</a>
</if>
<else>
  <a href="/services">Servicios</a>
</else>

<if activeRoute="portfolio">
  <a href="/portfolio" class="active">Portfolio</a>
</if>
<else>
  <a href="/portfolio">Portfolio</a>
</else>

<if activeRoute="repos">
  <a href="/repos" class="active">GitHub Repos</a>
</if>
<else>
  <a href="/repos">GitHub Repos</a>
</else>

<if activeRoute="seniority">
  <a href="/seniority" class="active">Experiencia</a>
</if>
<else>
  <a href="/seniority">Experiencia</a>
</else>

<if activeRoute="contact">
  <a href="/contact" class="active">Contacto</a>
</if>
<else>
  <a href="/contact">Contacto</a>
</else>
